build/
dist/
site/
docs/
.vscode/
*.egg-info/
_C.*.so
_C_sm*.so
__pycache__
*.ncu-rep
*.nsys-rep
*.sqlite
*.log
test
version.py
.DS_Store

3rd/ucl/include/
3rd/ucl/lib/
3rd/ucl/nvshmem/bin/
3rd/ucl/nvshmem/include/
3rd/ucl/nvshmem/lib/
3rd/ucl/nvshmem/share/
3rd/ucl/nvshmem/version.txt
3rd/ucl/nvshmem/changelog
3rd/ucl/nvshmem/git_commit.txt
3rd/ucl/nvshmem/src/include/non_abi/nvshmem_build_options.h
3rd/ucl/nvshmem/src/include/non_abi/nvshmem_version.h
3rd/ucl/nvshmem/src/device/comm/

hpc/nvshmem/